<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">{$builder->title|default='列表'}</div>
                        <div class="layui-card-body admin-table">
                            <div class="layui-row admin-table-action">
                                <div class="layui-col-md4 tool-action">
                                    {volist name="$builder->action" id="vo"}
                                    <a data-href="{$vo.href}"
                                       data-title="{$vo.title}"
                                       admin-event="formLayer"
                                       refresh="{$builder->id}"
                                       class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">
                                        {$vo.title}
                                    </a>
                                    {/volist}
                                    {if $builder->refresh}
                                    <button id="layui-icon-refresh-{$builder->id}"
                                            class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">
                                        <i class="layui-icon layui-icon-refresh"></i>
                                    </button>
                                    {/if}
                                </div>
                                {if $builder->filter || $builder->search}
                                <div class="layui-col-md8 search-form">
                                    <div class="layui-form layui-form-pane search layui-row">
                                        <div class="layui-form-item layui-row " style="margin-left: 60px;">
                                            <label class="layui-form-label">筛选</label>
                                            {if $builder->search}
                                            <div class="layui-input-inline layui-col-md2">
                                                <input type="text" name="keyword"
                                                       placeholder="请输入关键词搜索" autocomplete="off" class="layui-input">
                                            </div>
                                            {/if}
                                            {volist name="$builder->filter" id="vo"}
                                            <div class="layui-input-inline">
                                                {switch $vo.type}
                                                    {case input}
                                                <input  id="input-{$vo.id}" type="text" name="{$vo.name}"
                                                       placeholder="{$vo.title}" autocomplete="off" class="layui-input">
                                                    {/case}
                                                    {case select}
                                                        {if !empty($vo.options)}
                                                        <select  id="input-{$vo.id}" name="{$vo.name}">
                                                            <option value="">{$vo.title}</option>
                                                            {volist name="$vo.options" id="v"}
                                                            {if isset($v.title) && isset($v.value)}
                                                            <option value="{$v.value}">{$v.title}</option>
                                                            {/if}
                                                            {/volist}
                                                        </select>
                                                        {/if}
                                                    {/case}
                                                    {case time}
                                                <input type="text" id="input-{$vo.id}" name="{$vo.name}"
                                                       placeholder="{$vo.title}" autocomplete="off" class="layui-input">
                                                    {/case}
                                                {/switch}

                                            </div>
                                            {/volist}
                                            <button lay-filter="search-{$builder->id}" lay-submit class="layui-btn  layui-btn-sm layui-btn-radius layui-btn-primary search-submit-{$builder->id}">
                                                筛选
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                {/if}
                            </div>
                            <div id="list-table-{$builder->id}" lay-filter="list-table-{$builder->id}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{volist name="$builder->html" id="vo"}
{:htmlspecialchars_decode($vo)}
{/volist}