<div class="layui-form-item" style="{if $self->hidden}display:none;{/if}">
    <label class="layui-form-label">{$self->label}</label>
    <div class="layui-input-inline">
        {php}$value = $self->value;{/php}
        {foreach $self->options as $key=>$vo}
            <input class="layui-input" type="{$self->type}" lay-verify="{$self->rules}" title="{$vo.title|raw}" {volist name="$self->attr" id="vo"}{$key}="{$vo}" {/volist} name="{$self->name}" value="{$vo.val|default=''}" {if $vo.val == $value }checked="checked"{/if} {if isset($vo.disabled) && $vo.disabled == true }disabled="disabled"{/if} {$self->disabled}>
        {/foreach}
    </div>
    <div class="layui-form-mid layui-word-aux">{$self->tips|raw}</div>
</div>
